<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
		<title>Add Questions - Desktop</title>
	</head>
	<body>
		<p>
			&nbsp;</p>
		<h1>
			Assessment 1 -&nbsp;<strong>AddQuestion</strong></h1>
		<hr />

		<p>
		<div id="content">
    	{% block content %}
		<form action="/addquestion" method="post">{% csrf_token %} 

		Question number: <p><input type="text" name="Question_Number"></p><br><br>
		Question type: <p><input type="text" name="Question_Type"></p><br><br>
		Question Content: <p><textarea cols="40" name="Question_Data"></textarea></p><br><br>
		Question Answer: <p><textarea cols="40" name="Question_Answer"></textarea></p><br><br>
		<input type="submit" name="submitbutton" value="Submit" /><br><br>


		</form>
    	{% endblock %}
		</div></p>
		
	</body>
</html>


