<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
    <title>Instructor's Module - Add a Question</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/instructor/index.html">InPress - Instructor's Module</a>
          </div>
          <form name= "courseForm" action="course.html" method="get" id='courseForm'>
              <input type='hidden' id= 'courseInfo' name='courseInfo' value=''/>
  <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li> <a href="/instructor/index.html">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Courses <b class="caret"></b></a>
                <ul class="dropdown-menu">
              {% for i in courses %}
              <li><a href="javascript:{}" onClick="SubmitCourse('{{i}}');">{{i}}</a></li>
              {% endfor %}
              </form>
              </ul>
              </li>
            </ul>
    <ul class="nav navbar-nav navbar-right">
            <li><a href="/instructor/login.html">Logout</a></li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Add a Question</h1><h4> 
          <div class ="tex2jax_ignore"><h6> Inline LaTex is supported, and can be used by having them enclosed between these two delimiters \( and \).</h6></div>
          <label for="question">Question</label>

          <form role="addquestionForm" action="addquestion.html" method="post" id='addquestionForm'>
           <input type='hidden' id= 'course' name='course' value='{{myCourse}}'/>
            <input type='hidden' id= 'assessment' name='assessment' value='{{myAssessment}}'/>
            <input type='hidden' id = 'accordionNumber3' name = 'accordionNumber' value='{{accordion}}'/>
          <input type="text" class="form-control" id="question" name="questionText" placeholder="Type Question...">
          </div>
    <div class="page-header">
        <div class="bs-example">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#sectionA">Multiple Choice</a></li>
        <li><a data-toggle="tab" href="#sectionB">Short Answer</a></li>
    </ul>
        <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
        <div class="row">
        <div class="col-lg-11">
        <div class="input-group">
          <span class="input-group-addon"><input type="radio" id="mcRadio1" name="MCRadio" value="a"></span>
          <input type="text" class="form-control" id="MC1" name="MC1Ans" placeholder="Type Multiple Choice #1">
        </div><!-- /input-group -->
        <div class="input-group">
          <span class="input-group-addon"><input type="radio" id="mcRadio2" name="MCRadio" value="b"></span>
          <input type="text" class="form-control" id="MC2" name="MC2Ans" placeholder="Type Multiple Choice #2">
        </div><!-- /input-group -->
        <div class="input-group">
          <span class="input-group-addon"><input type="radio" id="mcRadio3" name="MCRadio" value="c"></span>
          <input type="text" class="form-control" id="MC3" name="MC3Ans" placeholder="Type Multiple Choice #3">
        </div><!-- /input-group -->
        <div class="input-group">
          <span class="input-group-addon"><input type="radio" id="mcRadio4" name="MCRadio" value="d"></span>
          <input type="text" class="form-control" id="MC4" name="MC4Ans" placeholder="Type Multiple Choice #4">
        </div><!-- /input-group -->
        <div class="input-group">
          <span class="input-group-addon"><input type="radio" id="mcRadio5" name="MCRadio" value="e"></span>
          <input type="text" class="form-control" id="MC5" name="MC5Ans" placeholder="Type Multiple Choice #5">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      </div>
            
        </div>
        <div id="sectionB" class="tab-pane fade">
            <div class="row-lg-11">
            <input type="text" class="form-control" id="SAText" name="SAAns" textarea rows="3" placeholder="Type Short Answer">
            </div>
        </div>
    </div>
</div>

	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
    </div>
	</div>
    <div id="footer">
      <div class="container">
        <p class="text-muted">InPress - Instructor's Module ({{myCourse}})</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="JavaScript"><!--
    function SubmitCourse(index) {
          document.getElementById("courseInfo").value = index;
          document.getElementById("courseForm").submit();
    }

    function chkQuestion(event){
      var q = document.getElementById("question").value;

      if (q == "")
      {
        alert("QUESTION not filled in!");
        return false;
      }

      // Mutliple choice and Radio Buttons Values
      var mc1 = document.getElementById("MC1").value;
      var mc2 = document.getElementById("MC2").value;
      var mc3 = document.getElementById("MC3").value;
      var mc4 = document.getElementById("MC4").value;
      var mc5 = document.getElementById("MC5").value;
      var count = 0;
      var radioFlag = false;
      // var mcFlag = false;

      var mcr1 = document.getElementById("mcRadio1").checked;
      var mcr2 = document.getElementById("mcRadio2").checked;
      var mcr3 = document.getElementById("mcRadio3").checked;
      var mcr4 = document.getElementById("mcRadio4").checked;
      var mcr5 = document.getElementById("mcRadio5").checked;

      // Short Answers 

      var sa = document.getElementById("SAText").value;
      // var saFlag = false;

      // SA Check

      if (sa !== ""){

        radioFlag = true; 
        // saFlag = true;

      }

      // Multiple choice Check
      // If Adds count everytime we see there is no empty string in each text box, once it reaches above two it will pass. 
        if (mc1 !== "")
        {
          count++;
        }
        if(mc2 !== "")
        {
          count++;
        }
        if(mc3 !== "")
        {
          count++;
        }
        if(mc4 !== "")
        {
          count++;
        }
        if(mc5 !== "")
        {
          count++;
        }
        if (count >= 2)
        {
          mcFlag = true;
          return true;
        }
        else if( count == 1)
        {
          alert("You need to fill in more than ONE answer for multiple choice!");
          return false;
        }

        // Checks for no-clicked radio buttons
        if (radioFlag == false)
        {
          if (mcr1 == false && mcr2 == false && mcr3 == false && mcr4 == false && mcr5 == false)
          {
            alert("Please Select A Radio button");
            return false;
          } 
        }

      // // Cases needed to be considered:
      // // 1) Only Short Answers or MC can be used per Question CANNOT be both
      // // 2) If both or not Answered msut return Alert 
      // // 3) If MC has One answer must alert user (this should be done in chkMC)

    if (count == 0 && sa == "")
    {
      alert("You must FILL OUT answers for either MULTIPLE CHOICE or SHORT ANSWER!");
      return false;
    }

    

    return true;
    }
    document.forms["addquestionForm"].onsubmit = chkQuestion;
    //--></script>
  </body>
</html>

