<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
<style type="text/css">
.styled-button-3 {
    text-align: right;
    font-family:'sans-serif';
    font-size:70px;
    font-weight:100;
    padding:100px 100px;
    height:300px;
    border-radius:5px;
}
body {
     margin: 0;
     padding: 0;
     text-align: center;
}
h1 {
    font-family:'sans-serif';
    font-size:90px;
}
form {
    font-family:'sans-serif';
    font-size:75px;

}
</style>
        
<title>InPress - Adding Assessment</title>
    </head>
    <body>
        <h1> Instructor's Module</h1>
    </head>
    <body>
<form> 
Name of Assessment: <br> <input type="text" style="font-size: 40pt"name="assessmentname"><br><br>
</form><br><br>
<input type="submit" class="styled-button-3" value="Submit" /><br><br><br><br><br><br><br><br><br><br>

</html>


