<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>InPress - Adding Assessment</title>
    </head>
<style type="text/css">
.styled-button-3 {
    text-align: right;
    font-family:'sans-serif';
    font-size:70px;
    font-weight:100;
    padding:100px 100px;
    height:300px;
    border-radius:5px;
}
body {
     margin: 0;
     padding: 0;
     text-align: center;
}
h1 {
    font-family:'sans-serif';
    font-size:90px;
}
h2 {
    font-family:'sans-serif';
    font-size:60px;
}
form {
    font-family:'sans-serif';
    font-size:75px;

}
input {
         font-size: 70px;
}
</style>
    <body>
	<hr>
	<h1> Instructor's Module</h1>
        <h2> Add Assessment </h2>
	<hr>
	<div id="content"> <br/><br/>
        {% block content %}
	        <form action="/addassessment" method="post">{% csrf_token %} Name of Assessment: </br>
                <input type="text" name="assessmentname"><br><br>
                <input type="submit" class="styled-button-3" name="submitbutton" value="Submit" /><br><br>
                </form>
        {% endblock %}
        </div>
    </body>
</html>

