d>
	<style type="text/css">
	.styled-button-3 {
	    text-align: right;
	    font-family:'sans-serif';
	    font-size:70px;
	    font-weight:100;
	    padding:100px 100px;
	    height:300px;
	    border-radius:5px;
	}
	body {
	     margin: 0;
	     padding: 0;
	     text-align: center;
	}
	h1 {
	    font-family:'sans-serif';
	    font-size:90px;
	}
	form {
	    font-family:'sans-serif';
	    font-size:75px;

	}
	</style>
		<title>Assessment-add question</title>
	</head>
	<body>
		<p>
			&nbsp;</p>
		<h1>
			Assessment 1 -&nbsp;<strong>Add Questions</strong></h1>
		<hr />
		<p>
			<span style="font-size: 16px;">Question number:</span></p>
		<p>
			<input maxlength="100" name="QuestionNumber" type="text" /></p>
		<p>
			&nbsp;</p>
		<p>
			Question type:</p>
		<p>
			<select name="QuestionType" size="4"><option value="MC">Multiple Choice</option><option value="SA">Short Answer</option><option value="Num">Number</option></select></p>
		<p>
			&nbsp;</p>
		<p>
			Question content:</p>
		<p>
			<textarea cols="40" name="QuestionContent" rows="5" style="margin: 2px; width: 296px; height: 97px;"></textarea></p>
		<p>
			&nbsp;</p>
		<p>
			Question answer:</p>
		<p>
			<textarea cols="40" name="QuestionAnswer" rows="5" style="margin-left: 2px; margin-right: 2px; width: 298px;"></textarea></p>
		<p>
			<input name="Submit" type="button" value="Submit" /></p>
	</body>
</html>

