<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
<style type="text/css">
.styled-button-3 {
    text-align: right; 
    font-family:'sans-serif';
    font-size:70px;
    font-weight:100;
    padding:100px 100px;
    height:300px;
    border-radius:5px;
}
body {
     margin: 0;
     padding: 0;
     text-align: center;
}
h1 {
    font-family:'sans-serif';
    font-size:90px;
}
</style>

    <title>InPress - Mobile Version</title>
        <h1> Instructor's Module</h1>
    </head>
    <body> <br><br><br><br><br>
<a href="/addassessment">
<input type="submit" class="styled-button-3" value="Add Assessment" /><br><br><br><br><br><br><br><br><br><br>
</a>

<a href="/removeassessment">
<input type="submit" class="styled-button-3" value="Remove Assessment" /><br><br><br><br><br><br><br><br><br><br>
</a>

<a href="/viewassessments">
<input type="submit" class="styled-button-3" value="View Assessments" /><br><br><br><br><br><br><br><br><br><br>
</a>



</body>
</html>
