<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>       
<title>InPress - Desktop Version</title>
</head>
<body>
<hr>
{% block content %}
<h1> Instructor's  Module</h1>
<h2> {{assessment.name}}</h2>
<hr>
<div id="content">
	<b><h4>Question</h4></b>
	<br>
	<label for="QuestionContent">{{assessmentdata.Question_Data}}</label>
	<br>
	<b><h4>Answer</h4></b>
	<br>
	<input type="text" name="QuestionAnswer"><br><br>
	<a href="javascript:history.back()"><input type="submit"  class="styled-button-3" name="submit" value="Save" /></a><br><br>
{% endblock  %}
</body>
</html>

