<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>       
<title>InPress - Desktop Version</title>
</head>
<body>
<hr>
{% block content %}
<h1> Instructor's Module</h1>
<h2> Answer for Question {{assessmentData.Question_Number}} in {{assessment.name}}</h2>
<hr>
<div id="content">
	<input type="hidden" name="assessment" value="{{assessment.name}}" />
	<input type="hidden" name="Question_Type" value="Multiple Choice" />
	<b><h4>Question</h4></b>
	<br>
	<label for="Question"> {{assessmentData.Question_Data}}</label> <br><br>
	<br>
	<b><h4>Answer</h4></b>
<br>
{% for i in mcs %}
<label for="QuestionAnswer">{{i.Choice_Type}}:  {{i.Choice_Content}}</label> <br><br>

{% endfor %}
{% endblock  %}
</body>
</html>

