<!DOCTYPE html>
<html lang="en">
  <head>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
  <script type="text/javascript">
        function checkEmpty (value, letter, answer){
          if (value == ""){
              return "";
          }
          else{
            if (letter == answer){
              var string = '<b>'+letter + ") "+ value + '</b>';
              return string;
            }
            else{
              var string = letter + ") "+ value;
              return string;
            }
          }
        } 
        function ParseData(valueNeeded, questionNum, assessmentName)
        {
          console.log(assessmentName);
          var numberOfQuestions = 0;
          var ListOfAssessments = document.getElementById("ListOfAssessments").value;
          var QuestionData = document.getElementById("QuestionData").value;
          var jsonData = JSON.parse(ListOfAssessments);
          var jsonData2 = JSON.parse(QuestionData);
          for (var i in jsonData) {
              if (jsonData[i].fields.name == assessmentName){
                var assessmentPK = jsonData[i].pk;
                if (valueNeeded == 'PK'){
                  return assessmentPK;
                }
              }
          }
          for (var j in jsonData2){
              if (jsonData2[j].fields.Assessment == assessmentPK){
                numberOfQuestions = numberOfQuestions + 1;
                if (valueNeeded == "id" && numberOfQuestions==questionNum){
                  //console.log ("Returning id");
                  return jsonData2[j].pk;
                }
                if (valueNeeded == "Question" && numberOfQuestions==questionNum){
                  //console.log ("Returning Question");
                  return jsonData2[j].fields.Question_Data;
                }
                if (valueNeeded == "Type" && numberOfQuestions==questionNum){
                  //console.log ("Returning type");
                  if (jsonData2[j].fields.Question_Type == "SA")
                    return "Short Answer";
                  else
                    return "Multiple Choice";
                }
                if (valueNeeded == "Answer" && numberOfQuestions==questionNum){
                  //console.log ("Returning Answer");
                  if (jsonData2[j].fields.Question_Type == "SA"){
                    return jsonData2[j].fields.Question_Answer;
                  }
                  else{
                    var answer = checkEmpty(jsonData2[j].fields.ChoiceA, "a", jsonData2[j].fields.Question_Answer) + '<br>' + checkEmpty(jsonData2[j].fields.ChoiceB, "b", jsonData2[j].fields.Question_Answer) + '<br>' + checkEmpty(jsonData2[j].fields.ChoiceC, "c", jsonData2[j].fields.Question_Answer) + '<br>' + checkEmpty(jsonData2[j].fields.ChoiceD, "d", jsonData2[j].fields.Question_Answer) + '<br>' + checkEmpty(jsonData2[j].fields.ChoiceE, "e", jsonData2[j].fields.Question_Answer);
                    return answer;
                  }
                
                }
                
              }
          }
          return numberOfQuestions;
        }
  </script>

  <style type="text/css">
        form{display: inline;}
  </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Student's Module - Course List</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

  </head>

  <body>
    {% block content %}
    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/student/index.html?studentnumber={{studentnumber}}">InPress - Student's Module</a>
          </div>
          <form name= "courseForm" action="course.html" method="get" id='courseForm'>
              <input type='hidden' id= 'cour fseInfo' name='courseInfo' value=''/>
              <input type='hidden' id= 'studentnumber1' name='studentnumber' value='{{studentnumber}}'/>
  <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li> <a href="/student/index.html?studentnumber={{studentnumber}}">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Courses <b class="caret"></b></a>
                <ul class="dropdown-menu">
              {% for i in courses %}
              <li><a href="javascript:{}" onClick="SubmitCourse('{{i}}');">{{i}}</a></li>
              {% endfor %}
              </form>

              </ul>
              </li>
            </ul>
    <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Logout</a></li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
  <div class="container">
  <div class="page-header">
  <h1> {{myCourse}} </h1>
  <input type='hidden' id= 'QuestionData' name='QuestionData' value='{{QuestionData}}'/>
  <input type='hidden' id= 'ListOfAssessments' name='ListOfAssessments' value='{{ListOfAssessments}}'/>
  <input type='hidden' id= 'NameOfAssessment' name='NameOfAssessment' value='{{i}}'/>
  <table class="table table-bordered">
  <script type='text/javascript'>
  var assessmentName = "{{i}}"
  var numberOfQs = ParseData("",0,assessmentName);
  var assessmentPK = ParseData("PK",0, assessmentName);
  var course = "{{myCourse}}"
  document.write ('');
  document.write ('');
  document.write ('<th>Assessment(s) for today</th>');
  document.write ('<th>Number of Questions</th>');
  document.write ('<th>Start the Assessment</th>');
  document.write ('<th>Check your Answer</th>');
  </script>
  {% for i in assessments %}
  <script type='text/javascript'>
  var assessmentName = "{{i}}"
  var numberOfQs = ParseData("",0,assessmentName);
  var assessmentPK = ParseData("PK",0, assessmentName);
  var course = "{{myCourse}}"
  document.write ('</tr>');
  document.write('<tr>');
  document.write('<td>{{i}}</td>');
  document.write('<td>'+ParseData("",0,assessmentName)+'</td>');
  document.write('<td><form name= "takeAssessment" action="viewassessment.html" method="post" id=\'takeAssessment\'>');
  document.write('<input type=\'hidden\' id= \'course\' name=\'course\' value='+course+'/>');
  document.write("<input type='hidden' id= 'studentnumber5' name='studentnumber' value='{{studentnumber}}'/>");
  document.write('<a href="javascript:{}" onClick="TakeAssessment('+assessmentPK+');" class="btn btn-default btn-sm" role="button"> Start! </a>') ;
  document.write ('<input type=\'hidden\' id= \'AssessmentPK\' name=\'AssessmentPK\' value=\'\'/>');
  document.write ('<input type=\'hidden\' id= \'questionNum\' name=\'QuestionNum\' value=\'\'/>');
  document.write('</form></td>');

  // document.write('<td><form name= "checkAnswer" action="viewassessmentanswers.html" method="post" id=\'checkAnswer\'>');
  // document.write("<input type='hidden' id= 'studentnumber6' name='studentnumber' value='{{studentnumber}}'/>");
  // document.write("<input type='hidden' id= 'assessmentData' name='assessmentData' value='{{studentnumber}}'/>");
  // document.write('<a href="javascript:{}" onClick="CheckAnswer('+studentnumber6+');" class="btn btn-default btn-sm" role="button"> Go to your Answer! </a>') ;
  // document.write('</form></td></tr>');
  // document.write ('<input type=\'hidden\' id= \'AssessmentPK\' name=\'AssessmentPK\' value=\'\'/>');
  // document.write ('<input type=\'hidden\' id= \'questionNum\' name=\'QuestionNum\' value=\'\'/>');
  // document.write('</form></td></tr>');

  document.getElementById("course").value = course;
  document.getElementById("questionNum").value = 1;
  </script>

  {% endfor %}
    </table>
  </div>
      <br><br>
      <form name= "existingTests" action="studentCourseHistory.html" method="get" id='existingTests'>
      <input type='hidden' id= 'course' name='course' value='{{myCourse}}'/>
      <input type='hidden' id= 'studentnumber3' name='studentnumber' value='{{studentnumber}}'/>
      <a href="javascript:{}" onClick="ExistingTests('{{myCourse}}');" class="btn btn-default btn-sm" role="button"> Go to all the exisiting test(s) and quizz(es). </a>
      </form>
 
    </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted">InPress - Student's Module ({{myCourse}})</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="JavaScript"><!--
    function DoSubmission(index) {
          document.getElementById("MyForm").submit();
    }
    //--></script>
    <script type="text/javascript" language="JavaScript"><!--
    function DoSubmission2(index) {
          document.getElementById("MyForm2").submit();
    }
    //--></script>
    <script type="text/javascript" language="JavaScript"><!--
    function SubmitCourse(index) {
          document.getElementById("courseInfo").value = index;
          document.getElementById("courseForm").submit();
    }
    //--></script>
     <script type="text/javascript" language="JavaScript"><!--
    function ExistingTests(index) {
          document.getElementById("course").value = index;
          document.getElementById("existingTests").submit();
    }
    //--></script>
    <script type="text/javascript" language="JavaScript"><!--
    function AddQuestion(index) {
          document.getElementById("assessment").value = index;
          document.getElementById("addQuestion").submit();
    }
    //--></script>
    <script type="text/javascript" language="JavaScript"><!--
    function RemoveQuestion(index) {
          document.getElementById("QuestionToRemove").value = index;
          document.getElementById("removeQuestion").submit();
    }
    //--></script>
    <script type="text/javascript" language="JavaScript"><!--
    function TakeAssessment(index) {
          document.getElementById("AssessmentPK").value = index;
          document.getElementById("takeAssessment").submit();
    }
    //--></script>
    <script type="text/javascript" language="JavaScript"><!--
    function CheckAnswer(index) {
          document.getElementById("studentnumber").value = index;
          document.getElementById("checkAnswer").submit();
    }
    //--></script>
    {% endblock %}
  </body>
</html>

