
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="docs-assets/ico/favicon.png">

    <title>Student Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form name="signin" class="form-signin" role="form" method="post" action="/" id="signin">
        <h2 class="form-signin-heading">Student Login</h2>
        <input type="text" class="form-control" name="studentnumber" placeholder="Student Number" required autofocus><br>
        <button class="btn btn-lg btn-primary btn-block" onClick="submit" ><a href="javascript:{}" onClick="DoSubmission('{{studentnumber}}');">Sign in</a></button>
        <a href="javascript:{}" onClick="DoSubmission('{{studentnumber}}');">Sign in</a>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

      <script type="text/javascript" language="JavaScript"><!--
    function DoSubmission(index) {
          document.getElementById("signin").submit();
    }
    //--></script>
  </body>
</html>

