<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>InPress - Desktop Version</title>
    </head>

    <body>
        <hr>
        <h1> Student's Module</h1>
        <h2> View Questions </h2>
        <hr>
 <br><br><br><br><br>
        <div id="content">
        {% block content %}
                        {% for i in assessmentData %}
                        <label for="Question">{{i.Question_Number}}) {{i.Question_Data}}</label>
                        <br>
                        <input type="radio" class="big" name="assessment" value="{{i.name}}">
                        <br><br>
                        {% endfor %}
        {% endblock %}
    </div>
</body>

</html>

