<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>InPress - Desktop Version</title>
    </head>

    <body>
	{% block content %}
        <hr>
        <h1> Instructor's Module</h1>
        <h2> View Questions for {{assessment.name}}</h2>
        <hr>
 <br><br><br><br><br>
        <div id="content">
			{% for i in assessmentData %}
			<form action="/viewquestions" method="post">
			<input type="hidden" name= "Question_Number" value="{{i.Question_Number}}">
			<input type="hidden" name= "Question_Data" value="{{i.Question_Data}}">
                      	<input type="hidden" name= "assessment" value="{{assessment.name}}">
			<h4><label for="Question"> Question {{i.Question_Number}}</label></h4>
			<label for="Question"> {{i.Question_Data}}</label> <br><br>
			<input type="submit" class="styled-button-3" value="Show Answer" />
			<br><br><br>
			</form>
			{% endfor %}
        {% endblock %}
    </div>
</body>

</html>
