<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>InPress - View Assessments</title>
    </head>

    <body>
        <h1> Instructor's Module</h1>
        <div id="content">
        {% block content %}
                {% for i in assessments %}
                         {{i.name}}  <br/>
                {% endfor %}
    	{% endblock %}
    </div>
<p>
<a href="/">
<button type="button">Back</button>
</a>
</p>
	
</body>

</html>
