<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>InPress - Desktop Version</title>
    </head>

    <body>
        <hr>
        <h1> Student's Module</h1>
        <h2> View Questions </h2>
        <hr>
 <br><br><br><br><br>
        <div id="content">
        {% block content %}
	<h4> Question </h4>
	<label for="Question"> {{assessmentdata.Question_Data}}</label> <br><br>	
	<h4> Multiple Choice Answers </h4>
	{% for j in mcs %}
	<a href="javascript:history.back()"><input type="button" class="styled-button-3" value="{{j.Choice_Content}}" align="center"/></a>
	<br><br><br><br><br><br><br><br><br><br>
	{% endfor %}
	{% endblock %}
	</body>
	
	</html>

