<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>InPress - Removing Assessment</title>
    </head>

    <body>
        <h1> Instructor's Module</h1>
        <div id="content">
        {% block content %}
                <form action="/removeassessment" method="POST"> Name of Assessment: <br/>
                <select name="assessment" size="4">
                {% for i in assessment %}
                <option value="{{i.name}}">{{i.name}}</option>
		 {% endfor %}
                </select></p><br><br>
                <input type="submit" name="removebutton" value="Remove" /><br><br>
                </form>
        {% endblock %}
        </div>
    </body>
</html>

