<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>InPress - Adding Questions</title>
    </head>

    <body>
        <h1> Instructor's Module</h1>
        <div id="content">
        {% block content %}
                #<form action="/addassessment" method="post">{% csrf_token %} Name of Assessment: <input type="text" name="assessmentname"><br><br>
                <input type="submit" name="submitbutton" value="Submit" /><br><br>
                </form>
        {% endblock %}
        </div>
    </body>
</html>
