<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<body>
        <hr>
        <h1> Instructor's Module</h1>
        <h2> Remove Assessment </h2>
        <hr>
        <div id="content"> <br/><br/>
        <div id="content">
        {% block content %}
                <form action="/removeassessment" method="post">
		{% for i in assessment %}
		<input type="radio" class="big" name="assessment" value="{{i.name}}"><label for="assessment">{{i.name}}</label> 
                <br><br>
                {% endfor %}
		<input type="submit" class="styled-button-3" name="removebutton" value="Remove" /><br><br>
                </form>
        {% endblock %}
        </div>
<p align="left">
<a href="/instructor" align="left">
<input type="Button" class='styled-button-2' value="Back">
</a>
</p>
    </body>
</html>

