<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<body>
{% block content %}
        <hr>
        <h1> Instructor's Module</h1>
        <h2> Remove Questions for {{assessment.name}} </h2>
        <hr>
        <div id="content"> <br/><br/>
        <div id="content">
                <form action="/removequestions" method="post">
		<input type="hidden" name="assessment" value="{{assessment.name}}" />	
		{% for i in assessmentData %}
		<label for="question">{{i.Question_Number}}) {{i.Question_Data}}</label>
		<br>
		<input type="radio" class="big" name="question" value="{{i.Question_Number}}"> 
                <br><br>
                {% endfor %}
		<input type="submit" class="styled-button-3" name="removebutton" value="Remove" /><br><br>
                </form>
        {% endblock %}
        </div>
    </body>
</html>

