<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>InPress - Mobile Version</title>
    </head>

    <body>
        <hr>
        <h1> Student's Module</h1>
        <h2> View Assessments </h2>
        <hr>
 <br><br><br><br><br>
        <div id="content">
        {% block content %}
			<form action="/viewstudentquestion" method="GET">
                        {% for i in assessments %}
                        <label for="assessment">{{i.name}}</label>
                        <br>
                        <input type="radio" class="big" name="assessment" value="{{i.name}}">
                        <br><br>
                        {% endfor %}
                        <input type="submit"  class="styled-button-3" name="submit" value="View" /><br><br>
			</form>        
{% endblock %}
    </div>
</body>

</html>
