#header h1 {
 margin: 0;
 padding: 0;
}
#header h1 a {
 text-shadow: 0px 1px 0px #fff;
 background-image: -webkit-gradient(linear, left top, left bottom, 
 from(#ccc), to(#999));
}

#header ul {
 list-style: none;
 margin: 10px;
 padding: 0;
}
#header ul li a {
 background-color: #FFFFFF;
 border: 1px solid #999999;
 color: #222222;
 display: block;
 font-size: 17px;
 font-weight: bold;
 margin-bottom: -1px;
 padding: 12px 10px;
 text-decoration: none;
}
#content, #sidebar {
 padding: 10px;
}

#header h1 a {
 background-color: #ccc;
 border-bottom: 1px solid #666;
 color: #222;
 display: block;
 font-size: 20px;
 font-weight: bold;
 padding: 10px 0;
 text-align: center;
 text-decoration: none;
}

.selectClass {
   font-size: 75px;
   font-family: 'Impact', cursive;
}
.styled-button-3 {
    text-align: right;
    font-family:'sans-serif';
    font-size:70px;
    font-weight:100;
    padding:100px 100px;
    height:300px;
    border-radius:5px;
}
.styled-button-2 {
    text-align: right;
    font-family:'sans-serif';
    font-size:70px;
    font-weight:100;
    padding:100px 100px;
    height:300px;
    border-radius:5px;
}
option {font-size:70px;}
body {
 text-align: center;
 background-color: #ddd; /* Background color */
 color: #222; /* Foreground color used for text */
 font-family: Helvetica; 
 font-size: 14px;
 margin: 0; /* Amount of negative space around the outside of the body */
 padding: 0; /* Amount of negative space around the inside of the body */
}
h1 {
    font-family:'sans-serif';
    font-size:90px;
}
h2 {
    font-family:'sans-serif';
    font-size:60px;
}
h3{
            font-family:'sans-serif';
            font-size:40px;
        }
h4{
	border:2px black solid; 
        font-size:40px;
	font-family:'sans-serif';

}
form {
    font-family:'sans-serif';
    font-size:75px;

}
input {
	vertical-align:top;
	font-size: 70px;
}
p{
	font-size:70px;
}
label{
	font-size:50px;
	float:center;
}
input[type="radio"]{
	float:center;
}
.big{
    width: 70px;
    height: 55px;
    float:center;
}
